In [ ]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/dataset/flight price.csv")
data.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [ ]:
data.shape

(300153, 12)

In [ ]:
data.columns

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [ ]:
inputs = data.drop(["Unnamed: 0","flight","duration"],axis="columns")
inputs.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,1,5955

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
inputs["airline_n"] = le.fit_transform(inputs["airline"])
inputs["source_city_n"] = le.fit_transform(inputs["source_city"])
inputs["departure_time_n"] = le.fit_transform(inputs["departure_time"])
inputs["stops_n"] = le.fit_transform(inputs["stops"])
inputs["arrival_time_n"] = le.fit_transform(inputs["arrival_time"])
inputs["destination_city_n"] = le.fit_transform(inputs["destination_city"])
inputs["class_n"] = le.fit_transform(inputs["class"])
inputs.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,days_left,price,airline_n,source_city_n,departure_time_n,stops_n,arrival_time_n,destination_city_n,class_n
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,1,5953,4,2,2,2,5,5,1
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,1,5953,4,2,1,2,4,5,1
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,1,5956,0,2,1,2,1,5,1
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,1,5955,5,2,4,2,0,5,1
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,1,5955,5,2,4,2,4,5,1

In [ ]:
x = inputs.drop(["airline","source_city","departure_time","stops","arrival_time","destination_city","class","price"],axis="columns")
x.head()

,days_left,airline_n,source_city_n,departure_time_n,stops_n,arrival_time_n,destination_city_n,class_n
0,1,4,2,2,2,5,5,1
1,1,4,2,1,2,4,5,1
2,1,0,2,1,2,1,5,1
3,1,5,2,4,2,0,5,1
4,1,5,2,4,2,4,5,1

In [ ]:
y = inputs["price"]
y.head()

0    5953
1    5953
2    5956
3    5955
4    5955
Name: price, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
len(x_train)

240122

In [ ]:
len(x_test)

60031

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
lr.score(x_test,y_test)

0.9048881128757686

In [ ]:
inputs.class_n.unique()

array([1, 0])

In [ ]:
print("days_left")
a = int(input("enter a days left: "))
print("AirAsia : 0 ,Air_India : 1 ,GO_FIRST : 2 ,Indigo : 3 ,SpiceJet : 4 ,Vistara : 5")
b =int(input("enter a airline :"))
print(" Bangalore : 0 ,Chennai : 1 ,Delhi : 2 ,Hyderabad : 3, Kolkata : 4, Mumbai : 5")
c =int(input("enter a source_city :"))
print("Afternoon : 0, Early_Morning : 1, Evening : 2, Late_Night : 3, Morning : 4, Night : 5")
d =int(input("enter a departure_time :"))
print("one : 0, two_or_more : 1, zero : 2")
e =int(input("enter a stopes :"))
print("Afternoon : 0, Early_Morning : 1, Evening : 2, Late_Night : 3, Morning : 4, Night : 5")
f =int(input("enter a arrival_time :"))
print("Bangalore : 0 ,Chennai : 1 ,Delhi : 2 ,Hyderabad : 3, Kolkata : 4, Mumbai : 5")
g =int(input("enter a destination_city :"))
print("Business : 0, Economy :1")
h =int(input("enter a class :"))
a = [a,b,c,d,e,f,g,h]
b = pd.DataFrame([a])
b
lr.predict(b)

days_left
enter a days left: 25
AirAsia : 0 ,Air_India : 1 ,GO_FIRST : 2 ,Indigo : 3 ,SpiceJet : 4 ,Vistara : 5
enter a airline :5
 Bangalore : 0 ,Chennai : 1 ,Delhi : 2 ,Hyderabad : 3, Kolkata : 4, Mumbai : 5
enter a source_city :2
Afternoon : 0, Early_Morning : 1, Evening : 2, Late_Night : 3, Morning : 4, Night : 5
enter a departure_time :3
one : 0, two_or_more : 1, zero : 2
enter a stopes :1
Afternoon : 0, Early_Morning : 1, Evening : 2, Late_Night : 3, Morning : 4, Night : 5
enter a arrival_time :5
Bangalore : 0 ,Chennai : 1 ,Delhi : 2 ,Hyderabad : 3, Kolkata : 4, Mumbai : 5
enter a destination_city :0
Business : 0, Economy :1
enter a class :1

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([6266.41519807])

In [ ]:
a =lr.predict(x_test)
a

array([7141.59611826, 7963.59495696,  714.87784031, ..., 3737.58537963,
       6739.6887813 , 6520.40435603])