In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/dataset/HR_comma_sep (2).csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
df.drop(["Work_accident","left","promotion_last_5years"],axis="columns", inplace=True)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Department,salary
0,0.38,0.53,2,157,3,sales,low
1,0.80,0.86,5,262,6,sales,medium
2,0.11,0.88,7,272,4,sales,medium
3,0.72,0.87,5,223,5,sales,low
4,0.37,0.52,2,159,3,sales,low

In [ ]:
x = df.drop("salary",axis="columns")

In [ ]:
y = df.salary.map({'low': 1, 'medium': 2, 'high': 2})

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_department = LabelEncoder()

In [ ]:
x["Department_n"] = le_department.fit_transform(x["Department"])
x.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Department,Department_n
0,0.38,0.53,2,157,3,sales,7
1,0.80,0.86,5,262,6,sales,7
2,0.11,0.88,7,272,4,sales,7
3,0.72,0.87,5,223,5,sales,7
4,0.37,0.52,2,159,3,sales,7

In [ ]:
z = x.drop("Department",axis="columns")
z.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Department_n
0,0.38,0.53,2,157,3,7
1,0.80,0.86,5,262,6,7
2,0.11,0.88,7,272,4,7
3,0.72,0.87,5,223,5,7
4,0.37,0.52,2,159,3,7

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(z,y,test_size=0.2)
len(x_train)

11999

In [ ]:
len(x_test)

3000

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [ ]:
model.score(x_test,y_test)

0.5273333333333333

In [ ]:
print(type(x_test))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
a = [0.58,0.85,1,210,4,8]
b = pd.DataFrame([a])
b

      0     1  2    3  4  5
0  0.58  0.85  1  210  4  8

In [ ]:
model.predict(b)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1])